---
import "../styles/global.css";
import Navbar from "./ui/navbar.astro";
import Hero from "./sections/hero.astro";
import Areas from "./sections/areas.astro";
---

<section class="">
	<Navbar/>
	<Hero/>
	<Areas/>
</section>