---
import "../styles/global.css";
import Navbar from "./ui/navbar.astro";
import Hero from "./sections/hero.astro";
import Areas from "./sections/areas.astro";
import Mision from "./sections/mision.astro";
import Actividades from "./sections/actividades.astro";
import Infraestructura from "./sections/infraestructura.astro";
import Autoridades from "./sections/autoridades.astro";
---

<section class="">
	<Navbar/>
	<Hero/>
	<Areas/>
	<Mision/>
	<Actividades/>
	<Infraestructura/>
	<Autoridades/>
</section>