---
import CardDocente from "./../components/ui/cardDocente.astro";
---
<section class="flex flex-col items-center gap-10 pt-28 mb-28 font-inter">
   <div class="flex flex-col items-center w-[80%] text-center">
      <h3 class="font-bold text-4xl">
         Conoce a Nuestro Profesorado
      </h3>
      <span class="text-[#5f5f5f]">
         Educadores e investigadores de clase mundial dedicados a avanzar en el campo de la ingeniería de sistemas.
      </span>
   </div>
   <div class="w-[80%]">
      <CardDocente/>
   </div>
</section>