<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>USB - Ingeniería de Sistemas</title>
	</head>
	<body>
		<slot />
		<script type="text/javascript">
			(function(d, t) {
				 var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
				 v.onload = function() {
					window.voiceflow.chat.load({
					  verify: { projectID: '67d6394bedd73be0e8d72dc3' },
					  url: 'https://general-runtime.voiceflow.com',
					  versionID: 'production',
					  voice: {
						 url: "https://runtime-api.voiceflow.com"
					  }
					});
				 }
				 v.src = "https://cdn.voiceflow.com/widget-next/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
			})(document, 'script');
		 </script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
